

h1, h2, h3, h4{
    font-family: 'Shrikhand', cursive;
}

p{
    font-family: 'Roboto', sans-serif;
}

/*  Color Purple : #9356DC
    Color Rose : #FF79DA
    Color Verte : #99E2D0 */

html{
    width: 375px;
    display: flex;
}


h1{
    
    width: 100%;
    height: 63px;
    filter : drop-shadow(0px 2px 4px rgba(0,0,0,0.25));

}

.localisationTitre{
    width: 100%;
    height: 50px;
    background-color: #EAEAEA;
}